*{  
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins' ,sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100v;
}

.calculator{
    position: relative;
    display: grid;
    margin-top: 20px;
}


.num{
    cursor:pointer ;
}

.calculator .value{
    margin-top: 50px;
    grid-column:span 4 ;
    height: 50px;
    width: 226px;
    margin-right: -20px;
    border: 1px solid black;
    text-align:right ;
    padding: 10px;
    font-size: 20px;
}

.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    background:#2980b9; 
    place-items: center;
    border: 1px solid white ;
    
}

.calculator span:active{
    background: white;
    color: blue;
}

.calculator span.clear{
    grid-column:span 2 ;
    width: 122px;
    background: black;
    color: white;
}

.calculator span.division{
    background: burlywood;
    grid-column: span 1;
    width: 60px;
    color: white;
}

.calculator span.multiplication{
    grid-column: span 1;
    width: 60px;
    background: burlywood;
    color: white;
}

.calculator span.subtract{
    background: burlywood;
    color: white;
}

.calculator span.add{
    grid-row: span 2;
    height: 60px;
    background: burlywood;
    color: white;
    
}

.calculator span.zero{
    margin-right:-62px ;
    margin-left:62px;
}

.calculator span.bracket-right{
    background: burlywood;
    margin-left: -62px;
    color: white;
}

.calculator span.bracket-left{
    background: burlywood;
    color: white;
}

.calculator span.comma{
    background: burlywood;
    margin-top: -62px;
    color: white;
}

.calculator span.percentage{
    background: burlywood;
    margin-right:-186px ;
    margin-left:186px ;
    margin-top: -62px;
    color: white;
}

.calculator span.equal{
    background: grey;
    width: 246px;
    margin-right: -200px;
    margin-left: -62px;
    color: white;
}